@import url(https://fonts.googleapis.com/css2?family=Poppins:wght@300;500&display=swap);
:root {
  --button-submit: #34A853;
  --submit-hover: #2b7f41;
}

@media only screen and (max-device-width: 480px) {
.forgot {
  width: 100%;
  height: 100%;
  background-color: #FFFF;
}

.backgroundForgot {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  visibility: hidden;
  z-index:0;
  margin: auto;
}

.backgroundForgotM {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index:0;
  margin: auto;
}

.newPass {
  position: absolute;
  margin: auto;
  padding-left: 2rem;
  top: 42%;
  left: 50%;
  height: 8%;
  width: 48%;
  transform: translate(-50%, -50%);
  border-radius: 10px;
  border: #FFFF;
  background-color: #EAF0F7;
}

.newPass2 {
  position: absolute;
  margin: auto;
  padding-left: 2rem;
  top: 30%;
  left: 50%;
  height: 8%;
  width: 48%;
  transform: translate(-50%, -50%);
  border-radius: 10px;
  border: #FFFF;
  background-color: #EAF0F7;
}

.newPass[type="text"] {
  font-size: 90%; 
}

@import url('https://fonts.googleapis.com/css2?family=Inter&family=Poppins:ital,wght@0,100;0,300;1,100&display=swap');
.newPass-placeholder {
  position: absolute;
  color: #757575;
  font-family: 'Poppins';
  font-size: 90%;
  top: 40.5%;
  left: 25%;
  text-align: left;
  pointer-events:none;
}

.newPass2-placeholder {
  position: absolute;
  color: #757575;
  font-family: 'Poppins';
  font-size: 90%;
  top: 28.7%;
  left: 25%;
  text-align: left;
  pointer-events:none;
}

.newPass2:focus ~ .newPass2-placeholder,
.newPass2:valid ~ .newPass2-placeholder {
  display: none;
}


.newPass:focus ~ .newPass-placeholder,
.newPass:valid ~ .newPass-placeholder {
  display: none;
}

.confirmPass{
  position: absolute;
  margin: auto;
  padding-left: 2rem;
  top: 54%;
  left: 50%;
  height: 8%;
  width: 48%;
  transform: translate(-50%, -50%);
  border-radius: 10px;
  border: #FFFF;
  background-color: #EAF0F7;
}

.confirmPass[type="text"] {
  font-size: 90%; 
}

@import url('https://fonts.googleapis.com/css2?family=Inter&family=Poppins:ital,wght@0,100;0,300;1,100&display=swap');

.confirmPass-placeholder {
  position: absolute;
  color: #757575;
  font-family: 'Poppins';
  font-size: 90%;
  top: 52.4%;
  left: 25%;
  text-align: left;
  pointer-events:none;
}


.confirmPass:focus ~ .confirmPass-placeholder,
.confirmPass:valid ~ .confirmPass-placeholder {
  display: none;
}


.resetPassBtn {
  position:absolute;
  top: 73%;
  left: 35%;
  height: 8%;
  width: 28%; 
  font-weight: 400;
  color: #ffffff;
  background-color: var(--button-submit);
  border-radius: 20px;
  border: none;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  -webkit-transition: background-color 200ms ease-in;
  font-family: 'Poppins';
  font-size: 3.5vmin;
}


.resetPassBtn:hover {
    background-color: var(--submit-hover);
    border-left: 8px #c2c2c2;
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

.email-form {
  margin-top: 8vmin;
}

#error {
  padding: 1rem;
}

.instructions2 {
  margin-top: 60vh;
  color: #929292;
  /* height: 100px; */
  position: relative;
  font-size: 1.5vh;
  z-index: 50;
  width: 80%;
  left: 10%;
}

}

@media only screen and (min-device-width: 480px) {
  .forgot {
    width: 100%;
    height: 100%;
    background-color: #FFFF;
  }
  
  .backgroundForgot {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index:0;
    margin: auto;
  }

  .backgroundForgotM {
    position: fixed;
    top: 0;
    left: 0;
    overflow: hidden;
    visibility: hidden;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index:0;
    margin: auto;
  }
  
  .newPass {
    position: absolute;
    margin: auto;
    padding-left: 2rem;
    top: 42%;
    left: 50%;
    height: 8%;
    width: 31%;
    transform: translate(-50%, -50%);
    border-radius: 10px;
    border: #FFFF;
    background-color: #EAF0F7;
  }
  
  .newPass2 {
    position: absolute;
    margin: auto;
    padding-left: 2rem;
    top: 30%;
    left: 50%;
    height: 8%;
    width: 31%;
    transform: translate(-50%, -50%);
    border-radius: 10px;
    border: #FFFF;
    background-color: #EAF0F7;
  }
  
  .newPass[type="text"] {
    font-size: 90%; 
  }
  
  @import url('https://fonts.googleapis.com/css2?family=Inter&family=Poppins:ital,wght@0,100;0,300;1,100&display=swap');
  .newPass-placeholder {
    position: absolute;
    color: #757575;
    font-family: 'Poppins';
    font-size: 90%;
    top: 39.8%;
    left: 36%;
    text-align: left;
    pointer-events:none;
  }
  
  .newPass2-placeholder {
    position: absolute;
    color: #757575;
    font-family: 'Poppins';
    font-size: 90%;
    top: 27.9%;
    left: 36%;
    text-align: left;
    pointer-events:none;
  }
  
  .newPass2:focus ~ .newPass2-placeholder,
  .newPass2:valid ~ .newPass2-placeholder {
    display: none;
  }
  
  
  .newPass:focus ~ .newPass-placeholder,
  .newPass:valid ~ .newPass-placeholder {
    display: none;
  }
  
  .confirmPass{
    position: absolute;
    margin: auto;
    padding-left: 2rem;
    top: 54%;
    left: 50%;
    height: 8%;
    width: 31%;
    transform: translate(-50%, -50%);
    border-radius: 10px;
    border: #FFFF;
    background-color: #EAF0F7;
  }
  
  .confirmPass[type="text"] {
    font-size: 90%; 
  }
  
  @import url('https://fonts.googleapis.com/css2?family=Inter&family=Poppins:ital,wght@0,100;0,300;1,100&display=swap');
  
  .confirmPass-placeholder {
    position: absolute;
    color: #757575;
    font-family: 'Poppins';
    font-size: 90%;
    top: 51.9%;
    left: 36%;
    text-align: left;
    pointer-events:none;
  }
  
  
  .confirmPass:focus ~ .confirmPass-placeholder,
  .confirmPass:valid ~ .confirmPass-placeholder {
    display: none;
  }
  
  
  .resetPassBtn {
    position:absolute;
    top: 68%;
    left: 40.5%;
    height: 10%;
    width: 18%;
    font-weight: 400;
    color: #ffffff;
    background-color: var(--button-submit);
    border-radius: 20px;
    border: none;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    -webkit-transition: background-color 200ms ease-in;
    font-family: 'Poppins';
    font-size: 3.5vmin;
  }
  
  
  .resetPassBtn:hover {
      background-color: var(--submit-hover);
      border-left: 8px #c2c2c2;
      box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
  }
  
  .email-form {
    margin-top: 8vmin;
  }
  
  #error {
    padding: 1rem;
  }
  
  .instructions2 {
    margin-top: 62vh;
    color: #929292;
    width: 100%;
    /* height: 100px; */
    position: relative;
    font-size: 1.8vh;
    z-index: 50;
  }
}