@import url("https://fonts.googleapis.com/css2?family=Fredoka+One&family=Luckiest+Guy&family=Oswald:wght@700&family=Poppins&display=swap");

.undo-img:hover {
    position: absolute;
    top: -2%;
    width: 4.35%;
    left: 0.3%;
    cursor: pointer;
}

:root {
    --settings-color: white;
    --text-color: black;
  }

  p1 {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    color: black;
  }

.submit-update:hover {
    background-color: #2b7f41;
    cursor: pointer;
}

.upload-bttn:hover {
    background-color: #2b7f41;
    cursor: pointer;
}

.delete-bttn:hover {
    background-color: #ac0e00;
    cursor: pointer;
}

  .close2:hover,
  .close2:focus {
    color: rgb(110, 110, 110);
    -webkit-transition: color 200ms ease-in;
    text-decoration: none;
    cursor: pointer;
  }

  
  .close3:hover,
  .close3:focus {
    color: rgb(110, 110, 110);
    -webkit-transition: color 200ms ease-in;
    text-decoration: none;
    cursor: pointer;
  }

  input[type="file"]::file-selector-button:hover {
    background-color: #2b7f41;
    cursor: pointer;
  }

@media only screen and (max-device-width: 480px) {
    .updateform-container {
        padding: 2rem;
        height: 100%;
    }
    #delete-div {
        margin-top: -1rem;
        position: relative;
    }
    .undo-img {
        position: absolute;
        top: 4.5%;
        width: 8%;
        left: 0.3%;
    }

    .undo-img2 {
        position: fixed;
        top: 5.5%;
        width: 4.5%;
        left: 0.3%;
    }

    .del-warning{
        font-size: 4vmin; 
        font-weight: 400;
        font-family: "Poppins";
    }

    .delete-bttn {
      position:absolute;
      font-family: "Poppins";
      font-weight: 400;
      top: 45%;
      left: 38%;
      height: 6vh;
      width: 25%; 
      color: #ffffff;
      background-color: #EA4335;
      box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
      -webkit-transition: background-color 200ms ease-in;
      border-radius: 20px;
      border: none;
      font-size: 3.5vmin;
        
    }

    .del-pop-up{
        margin-top: -15vh;
        height: 30vh;
        z-index: 200;
        width: 80vw;
        background-color: #ffffff;
        border-radius: 20px
    }
    
    .heading-container {
        margin-top: 4rem;
    }

    .close3 {
        color: #929292;
        float: right;
        line-height: 42px;
        font-size: 35px;
        z-index: 1000;
        position: relative;
        margin-right: 0.5rem;
        font-weight: bold;
      }

      .close2 {
        color: #929292;
        float: right;
        line-height: 42px;
        font-size: 35px;
        position: relative;
        margin-right: 0.5rem;
        font-weight: bold;
      }

    .delete-update {
        margin-left: 0rem;
        margin-bottom: 1rem;
        background: none;
        color: black;
        font-size: 70%;
        border: none;
        padding: 0;
        cursor: pointer;
        outline: inherit;
        text-decoration: underline;
        /* margin-left: 9vh; */
    }

#mparagraph {
    font-size: 60%;
    margin-top: auto;
}

#minput {
    display: flex;
    flex-direction: column;
    align-content: flex-start;
    /* height: 70vh; */
    margin-top: 1vh;
    margin-left: -0rem;
    padding: 0;
}

.pfp-container{
    width: 60vh;
    height: 30vh;
}

.overlay-cont{
    display: block;
    position: relative;
    overflow-x: hidden;
}

.pfp{
    width: 100%;
    height:100%;
    background-color: gray;
    margin-left: 15vw;
    margin-top: 7vh;
    border-radius: 100%;
}

.circle-new{
    position: relative;
    background-color: #c2c2c2;
    margin-left: 27vw;
    top: 5vh;
    width: 42vmin;
    height: 42vmin;
    border-radius: 100%;
}

.edit-new{
    background: none;
	color: inherit;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;

    margin-left: 7.5rem;
    top: -2rem;
    position: relative;
}

.upload-overlay{
    /* margin-top:7vh; */
    overflow-x: hidden;
    height: 100%;
    width: 100%;
    background-color: rgba(81, 74, 74, 0.5);
    justify-content: center;
    align-items: center;
    display : flex;
    color:black;
    position: absolute;
    z-index: 7;
}

.pop-up{
    height: 40vh;
    width: 80vw;
    z-index: 200;
    position: fixed;
    background-color: #ffffff;
    border-radius: 10px
}

.upload-in{
    
    height: 50%;
    width: 110%;
    background-color: transparent;
    justify-content: center;
    justify-items: center;
    /* margin-top: 12vh;
    margin-left: 8vw; */
}

/* input[type="file"] {
    display: none;
} */

.upload-in::-webkit-file-upload-button{
    font-family: 'Poppins';
    background-color: #c2c2c2;
	color: inherit;
	border: 1px solid rgba(0, 0, 0, 0.25);
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;
    padding: 1% 10% 1% 10%;
    border-radius: 10px;
    margin-right: 2vw;
    top:20vh;

}



.input-area{
    margin-left: 5vw;
    margin-top:5vh;
    width:70vw;
    height:20vh;
    background-color: transparent;
    border-style: dashed ;
    border-color: rgba(0, 0, 0, 0.25);

}

.upload-bttn {
    position:absolute;
  font-family: "Poppins";
  font-weight: 400;
  top: 70%;
  left: 35.5%;
  height: 20%;
  width: 32%;
  color: #ffffff;
  background-color: #34A853;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  -webkit-transition: background-color 200ms ease-in;
  border-radius: 20px;
  border: none;
  font-size: 4vmin;
    
}


.submit-update {
    padding: 10px;
    padding-top: 15px;
    padding-bottom: 15px;
    grid-auto-flow: column;
    box-sizing: border-box;
    margin-bottom: 4rem;
    text-align: center;
    background: #34A853;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    -webkit-transition: background-color 200ms ease-in;
    border-radius: 20px;
    padding-left: 0.2rem;
    padding-right: 0.2rem;
    width: 70%;
    height: 4em;
    align-items: center;
    border: transparent;
    color: rgb(255, 255, 255);
    justify-content: space-around;
    justify-items: start;
    align-content: space-around;
    font-size: 1em;
}

input[type="file"]::file-selector-button  {
    padding: 10px;
    padding-top: 15px;
    padding-bottom: 15px;
    grid-auto-flow: column;
    margin-left: 1rem;
    box-sizing: border-box;
    margin-top: 0rem;
    text-align: center;
    background: #34A853;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    -webkit-transition: background-color 200ms ease-in;
    border-radius: 20px;
    padding-left: 0.2rem;
    padding-right: 0.2rem;
    width: 30%;
    height: 70%;
    align-items: center;
    border: transparent;
    color: rgb(255, 255, 255);
    justify-content: space-around;
    justify-items: start;
    align-content: space-around;
    font-size: 1em;
}

}


@media only screen and (min-device-width: 480px) {

    .undo-img {
        position: absolute;
        top: -2%;
        width: 4%;
        left: 0.3%;
    }
    .undo-img2 {
        position: fixed;
        top: 10%;
        width: 2%;
        left: 0.3%;
    }

    input[type="file"]::file-selector-button  {
        padding: 10px;
        padding-top: 15px;
        padding-bottom: 15px;
        grid-auto-flow: column;
        margin-left: 4.5rem;
        box-sizing: border-box;
        margin-top: 0rem;
        text-align: center;
        background: #34A853;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        -webkit-transition: background-color 200ms ease-in;
        border-radius: 20px;
        padding-left: 0.2rem;
        padding-right: 0.2rem;
        width: 30%;
        height: 3em;
        align-items: center;
        border: transparent;
        color: rgb(255, 255, 255);
        justify-content: space-around;
        justify-items: start;
        align-content: space-around;
        font-size: 1em;
    }

    #minput {
       padding-bottom: 1.5rem;
    }

    .pfp-container{
        width: 60vh;
        height: 60vh;
        margin-right: 0%;
    }
    
    #update-child {
        width: 40%;
        
        /* float: left; */
        /* padding: 20px; */
        /* border: 2px solid red; */
    }

    #delete-div {
        margin-top: 5vh;
        font-size: 60%;
    }

    .delete-update {
        margin-left: 4.5rem;
        background: none;
        color: var(--text-color);
        font-size: 3vh;
        border: none;
        padding: 0;
        font: inherit;
        cursor: pointer;
        outline: inherit;
        width: 30vw;
        height: 2vh;
        text-decoration: underline;
        /* margin-left: 9vh; */
    }

    .del-x{
        background: none;
        border: none;
        padding: 0;
        cursor: pointer;
        position: relative;
        left : 27%;
        color: black;
        font-size: 4vh;
        font-weight: 200%;
        z-index: 100;
        top: -15%;
        margin-top: 0;
    }

    .overlay-cont{
        /* /* width: 100vw;  */
        height: 90vh; 
        position: relative;
        top: 10vh;
        color: black;
        background-color: var(--settings-color);
    }

    .header-update{
        display: flex;
        padding-top: 4vh;
    }

    #tell-us{
        height: 15vh;
    }

    .updateform-container{
        width: 100%;
        padding-top: 1vh;
        margin-top: -1%;

        align-items: center;
    }
    
    .input-container {
        display: flex;
        flex-direction: column;
        align-content: flex-start;
        width: 40vw;
        /* height: 70vh; */
        margin-top: 1vh;
        margin-left: 10vw;
        padding: 0%;
        
    }

    #reenter-pass {
        background: #929292;
    }

    .submit-update {
        padding: 10px;
        padding-top: 15px;
        padding-bottom: 15px;
        grid-auto-flow: column;
        margin-left: 4.5rem;
        box-sizing: border-box;
        margin-top: 0rem;
        text-align: center;
        background: #34A853;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        -webkit-transition: background-color 200ms ease-in;
        border-radius: 20px;
        padding-left: 0.2rem;
        padding-right: 0.2rem;
        width: 40%;
        height: 3em;
        align-items: center;
        border: transparent;
        color: rgb(255, 255, 255);
        justify-content: space-around;
        justify-items: start;
        align-content: space-around;
        font-size: 0.7em;
    }
    .inputs-update{
        width: 10%;
    }
    
    .pfp{
        width: 100%;
        height:100%;
        background-color: gray;
        margin-left: 15vw;
        margin-top: 7vh;
        border-radius: 100%;
    }
    
    .circle-new{
        position: relative;
        background-color: #c2c2c2;
        margin-left: 17.3vw;
        top: 5vh;
        width: 42vmin;
        height: 42vmin;
        border-radius: 100%;
    }

    .circle-new #user_image:hover {
        opacity: 0.8;
        cursor: pointer;
        transition: opacity .3s;
        background-color: rgba(0, 0, 0, .3);
    }

    .circle-new #user_image {
        outline: rgba(0, 0, 0, 0) 3px solid;
    }
    .edit-new{
    background: none;
    color: inherit;
    border: none;
    padding: 0;
    font: inherit;
    cursor: pointer;
    outline: inherit;
    left: 6vmin;
    /* width: 40vmin; */
    /* height: 50vmin; */
    margin-left: 8rem;
    top: -8vmin;
    position: relative;
    }
    
    .upload-overlay{
        /* margin-top:7vh; */
        top: -11%;
        height: 100vh;
        width: 100%;
        background-color: rgba(81, 74, 74, 0.5);
        justify-content: center;
        align-items: center;
        display : flex;
        color:black;
        position: absolute;
        z-index: 7;
    }
    
    .pop-up{
        height: 60vh;
        width: 60vw;
        top: 20%;
        z-index: 200;
        position: fixed;
        background-color: #ffffff;
        border-radius: 10px
    }
    
    .upload-in{
        height: 100%;
    font-weight: 500;
    width: 60%;
    margin-bottom: -0.5rem;
    padding: 1rem;
    background-color: transparent;
    justify-content: center;
    justify-items: center;
    }
    
    /* input[type="file"] {
        display: none;
    } */
    
    .upload-in::-webkit-file-upload-button{
        font-family: 'Poppins';
        background-color: #c2c2c2;
        color: inherit;
        border: 1px solid rgba(0, 0, 0, 0.25);
        padding: 0;
        font: inherit;
        cursor: pointer;
        outline: inherit;
        padding: 1% 10% 1% 10%;
        border-radius: 10px;
        margin-right: 2vw;
        top:20vh;
    
    }
    
    
    
    .input-area{
        margin-left: 5vw;
        margin-top:5vh;
        width:50vw;
        height:35vh;
        background-color: transparent;
        border-style: dashed ;
        border-color: rgba(0, 0, 0, 0.25);
    
    }
    
    .upload-bttn {
        position:absolute;
      font-family: "Poppins";
      font-weight: 400;
      top: 75%;
      left: 38.5%;
      height: 10vh;
      width: 25%; 
      color: #ffffff;
      background-color: #34A853;
      box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
      -webkit-transition: background-color 200ms ease-in;
      border-radius: 20px;
      border: none;
      font-size: 3.5vmin;
        
    }


    .del-warning{
        font-size: 2vmin; 
        font-weight: 400;
        font-family: "Poppins";
    }

    .delete-bttn {
      position:absolute;
      font-family: "Poppins";
      font-weight: 400;
      top: 60%;
      left: 38%;
      height: 8vh;
      width: 25%; 
      color: #ffffff;
      background-color: #EA4335;
      box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
      -webkit-transition: background-color 200ms ease-in;
      border-radius: 20px;
      border: none;
      font-size: 2.5vmin;
        
    }

    .del-pop-up{
        position: fixed;
        margin-top: -15vh;
        z-index: 200;
        height: 30vh;
        width: 60vw;
        background-color: #ffffff;
        border-radius: 20px
    }

    .close2 {
        color: #929292;
        float: right;
        line-height: 42px;
        font-size: 35px;
        position: relative;
        margin-right: 1rem;
        font-weight: bold;
      }

      .close3 {
        color: #929292;
        float: right;
        line-height: 42px;
        font-size: 35px;
        z-index: 1000;
        position: relative;
        margin-right: 1rem;
        font-weight: bold;
      }
    
      .undo-img2:hover {
        position: fixed;
        top: 10%;
        width: 2.35%;
        left: 0.3%;
        cursor: pointer;
    }
}
    